[submodule "appflowy-git"]
	path = appflowy-git
	url = ssh://aur@aur.archlinux.org/appflowy-git.git
[submodule "samarium"]
	path = samarium
	url = ssh://aur@aur.archlinux.org/samarium.git
[submodule "python-dahlia"]
	path = python-dahlia
	url = ssh://aur@aur.archlinux.org/python-dahlia.git
[submodule "salad"]
	path = salad
	url = ssh://aur@aur.archlinux.org/salad.git
[submodule "nyxt-browser-git"]
	path = nyxt-browser-git
	url = ssh://aur@aur.archlinux.org/nyxt-browser-git.git
[submodule "python-pincer-git"]
	path = python-pincer-git
	url = ssh://aur@aur.archlinux.org/python-pincer-git.git
[submodule "python-pipe"]
	path = python-pipe
	url = ssh://aur@aur.archlinux.org/python-pipe.git
[submodule "python-pbar"]
	path = python-pbar
	url = ssh://aur@aur.archlinux.org/python-pbar.git
[submodule "autotrash"]
	path = autotrash
	url = ssh://aur@aur.archlinux.org/autotrash.git
[submodule "gtk-vector-screenshot"]
	path = gtk-vector-screenshot
	url = ssh://aur@aur.archlinux.org/gtk-vector-screenshot.git
[submodule "sc-im-git"]
	path = sc-im-git
	url = ssh://aur@aur.archlinux.org/sc-im-git.git
