[submodule "appflowy-git"]
	path = appflowy-git
	url = ssh://aur@aur.archlinux.org/appflowy-git.git
[submodule "samarium"]
	path = samarium
	url = ssh://aur@aur.archlinux.org/samarium.git
[submodule "python-dahlia"]
	path = python-dahlia
	url = ssh://aur@aur.archlinux.org/python-dahlia.git
[submodule "salad"]
	path = salad
	url = ssh://aur@aur.archlinux.org/salad.git
[submodule "python-pincer-git"]
	path = python-pincer-git
	url = ssh://aur@aur.archlinux.org/python-pincer-git.git
[submodule "python-pipe"]
	path = python-pipe
	url = ssh://aur@aur.archlinux.org/python-pipe.git
[submodule "python-pbar"]
	path = python-pbar
	url = ssh://aur@aur.archlinux.org/python-pbar.git
[submodule "autotrash"]
	path = autotrash
	url = ssh://aur@aur.archlinux.org/autotrash.git
[submodule "gtk-vector-screenshot"]
	path = gtk-vector-screenshot
	url = ssh://aur@aur.archlinux.org/gtk-vector-screenshot.git
[submodule "sc-im-git"]
	path = sc-im-git
	url = ssh://aur@aur.archlinux.org/sc-im-git.git
[submodule "python-crossandra"]
	path = python-crossandra
	url = ssh://aur@aur.archlinux.org/python-crossandra.git
[submodule "kondo-git"]
	path = kondo-git
	url = ssh://aur@aur.archlinux.org/kondo-git.git
[submodule "nyxt-git"]
	path = nyxt-git
	url = ssh://aur@aur.archlinux.org/nyxt-git.git
[submodule "spim-svn"]
	path = spim-svn
	url = ssh://aur@aur.archlinux.org/spim-svn.git
[submodule "idris2-lsp-git"]
	path = idris2-lsp-git
	url = git@github.com:MithicSpirit/idris2-lsp-git.git
[submodule "idris2-git"]
	path = idris2-git
	url = ssh://aur@aur.archlinux.org/idris2-git.git
[submodule "helixbinhx"]
	path = helixbinhx
	url = ssh://aur@aur.archlinux.org/helixbinhx.git
[submodule "greenclip"]
	path = greenclip
	url = ssh://aur@aur.archlinux.org/greenclip
[submodule "haskell-wordexp"]
	path = haskell-wordexp
	url = ssh://aur@aur.archlinux.org/haskell-wordexp
[submodule "python-ixia"]
	path = python-ixia
	url = ssh://aur@aur.archlinux.org/python-ixia
[submodule "python-paperbush"]
	path = python-paperbush
	url = ssh://aur@aur.archlinux.org/python-paperbush
