pkgbase = kitty-mithic
	pkgdesc = A modern, hackable, featureful, OpenGL-based terminal emulator
	pkgver = 0.28.1
	pkgrel = 1
	url = https://github.com/kovidgoyal/kitty
	arch = x86_64
	license = GPL3
	makedepends = libxinerama
	makedepends = libxcursor
	makedepends = libxrandr
	makedepends = wayland-protocols
	makedepends = go
	depends = python3
	depends = freetype2
	depends = fontconfig
	depends = wayland
	depends = libx11
	depends = libxkbcommon-x11
	depends = libxi
	depends = hicolor-icon-theme
	depends = libgl
	depends = dbus
	depends = lcms2
	depends = librsync
	source = kitty-0.28.1.tar.xz::https://github.com/kovidgoyal/kitty/releases/download/v0.28.1/kitty-0.28.1.tar.xz
	source = kitty-0.28.1.tar.xz.sig::https://github.com/kovidgoyal/kitty/releases/download/v0.28.1/kitty-0.28.1.tar.xz.sig
	source = kitty-mithic.patch
	validpgpkeys = 3CE1780F78DD88DF45194FD706BC317B515ACE7C
	sha512sums = a8863c8bf5a3c385671d98bd50481ffcd3984e45ee051173eb38de9aac79643e69a312e08b8f655759f3ecdfab4efe38dca39167f5590e482748b5e85dea5537
	sha512sums = SKIP
	sha512sums = 35c12144f49b106aa7603cc8062c09d57b95d74e24b88905f9b1ef97f9b197d6b817c30de24e37a7b9982ae86e92b6edc205e26f9e2a37acb0330fbd2f156c29

pkgname = kitty-mithic
	depends = python3
	depends = freetype2
	depends = fontconfig
	depends = wayland
	depends = libx11
	depends = libxkbcommon-x11
	depends = libxi
	depends = hicolor-icon-theme
	depends = libgl
	depends = dbus
	depends = lcms2
	depends = librsync
	depends = kitty-terminfo-mithic
	depends = kitty-shell-integration-mithic
	optdepends = imagemagick: viewing images with icat
	optdepends = python-pygments: syntax highlighting in kitty +kitten diff
	optdepends = libcanberra: playing "bell" sound on terminal bell
	provides = kitty

pkgname = kitty-terminfo-mithic
	pkgdesc = Terminfo for kitty, an OpenGL-based terminal emulator
	depends = ncurses
	provides = kitty-terminfo

pkgname = kitty-shell-integration-mithic
	pkgdesc = Shell integration scripts for kitty, an OpenGL-based terminal emulator
	provides = kitty-shell-integration
