pkgbase = kitty-mithic
	pkgdesc = A modern, hackable, featureful, OpenGL-based terminal emulator
	pkgver = 0.31.0.mithic.1
	pkgrel = 2
	url = https://github.com/kovidgoyal/kitty
	arch = x86_64
	license = GPL3
	makedepends = libxinerama
	makedepends = libxcursor
	makedepends = libxrandr
	makedepends = wayland-protocols
	makedepends = go
	depends = python3
	depends = freetype2
	depends = fontconfig
	depends = wayland
	depends = libx11
	depends = libxkbcommon-x11
	depends = libxi
	depends = hicolor-icon-theme
	depends = libgl
	depends = dbus
	depends = lcms2
	depends = librsync
	depends = xxhash
	source = kitty-0.31.0.tar.xz::https://github.com/kovidgoyal/kitty/releases/download/v0.31.0/kitty-0.31.0.tar.xz
	source = kitty-0.31.0.tar.xz.sig::https://github.com/kovidgoyal/kitty/releases/download/v0.31.0/kitty-0.31.0.tar.xz.sig
	source = kitty-mithic.patch
	validpgpkeys = 3CE1780F78DD88DF45194FD706BC317B515ACE7C
	sha512sums = 3868431003f9f1a3907415124c1d8282b077985a9d104615d48f9d309f6fbf1a11119546674508649aa35f2b6e66aa5638024e8127f92ae7b043da367c7b3363
	sha512sums = SKIP
	sha512sums = 73f24f40847a5ea738f56fcf8a19c47a2ea5eb95327d877b49bb6e6657d47ce49b63dd2f1b7ec06d488364629d839f15d7461ed7a291c3bd5ab048245d7e3ac4

pkgname = kitty-mithic
	depends = python3
	depends = freetype2
	depends = fontconfig
	depends = wayland
	depends = libx11
	depends = libxkbcommon-x11
	depends = libxi
	depends = hicolor-icon-theme
	depends = libgl
	depends = dbus
	depends = lcms2
	depends = librsync
	depends = xxhash
	depends = kitty-terminfo-mithic
	depends = kitty-shell-integration-mithic
	optdepends = imagemagick: viewing images with icat
	optdepends = python-pygments: syntax highlighting in kitty +kitten diff
	optdepends = libcanberra: playing "bell" sound on terminal bell
	provides = kitty
	conflicts = kitty

pkgname = kitty-terminfo-mithic
	pkgdesc = Terminfo for kitty, an OpenGL-based terminal emulator
	depends = ncurses
	provides = kitty-terminfo
	conflicts = kitty-terminfo

pkgname = kitty-shell-integration-mithic
	pkgdesc = Shell integration scripts for kitty, an OpenGL-based terminal emulator
	provides = kitty-shell-integration
	conflicts = kitty-shell-integration
