pkgbase = mithic-base
	pkgdesc = Packages for a base install for MithicSpirit
	pkgver = 2023.03.12.0
	pkgrel = 1
	arch = any

pkgname = mithic-base
	depends = accountsservice
	depends = alacritty
	depends = base
	depends = base-devel
	depends = cronie
	depends = curl
	depends = dash
	depends = dashbinsh
	depends = debian-archive-keyring
	depends = dnscrypt-proxy
	depends = efibootmgr
	depends = fail2ban
	depends = flatpak
	depends = flatpak-xdg-utils
	depends = fwupd
	depends = gnupg
	depends = grub
	depends = kwallet-pam
	depends = libva-mesa-driver
	depends = lightdm
	depends = lightdm-gtk-greeter
	depends = lightdm-webkit-theme-litarvan
	depends = linux
	depends = linux-firmware
	depends = linux-headers
	depends = linux-lts
	depends = linux-lts-headers
	depends = logrotate
	depends = man-db
	depends = man-pages
	depends = mesa
	depends = mesa-vdpau
	depends = multilib-devel
	depends = notification-daemon
	depends = ntfs-3g
	depends = numlockx
	depends = openssh
	depends = pacman
	depends = paru-git
	depends = picom-git
	depends = pipewire
	depends = python
	depends = qtile
	depends = redshift
	depends = reflector
	depends = sxhkd
	depends = texinfo
	depends = trash-cli
	depends = util-linux
	depends = web-greeter
	depends = wireplumber
	depends = xclip
	depends = xdg-user-dirs
	depends = xdg-utils
	depends = xfce-polkit
	depends = xfce4-session
	depends = xfce4-settings
	depends = zsh
	depends = acpilight
	depends = alsa-utils
	depends = arc-gtk-theme
	depends = arc-icon-theme
	depends = arch-install-scripts
	depends = autotrash
	depends = bat
	depends = bat-extras
	depends = betterlockscreen-git
	depends = breeze
	depends = breeze-gtk
	depends = btop
	depends = clang
	depends = checkupdates+aur
	depends = cups
	depends = cups-pdf
	depends = devour
	depends = devtools
	depends = dialog
	depends = dkms
	depends = dmenu-mithic
	depends = downgrade
	depends = dunst-git
	depends = emacs-nativecomp
	depends = exa
	depends = fasd
	depends = fd
	depends = feh
	depends = findutils
	depends = flameshot-git
	depends = git
	depends = gpm
	depends = greenclip
	depends = grub-theme-minegrub-git
	depends = kde-gtk-config
	depends = kdeconnect
	depends = kdialog
	depends = kmail
	depends = kvantum
	depends = libnotify
	depends = libqalculate-git
	depends = librewolf-bin
	depends = mlocate
	depends = mpv
	depends = neovim
	depends = network-manager-applet
	depends = networkmanager
	depends = onedrive-abraunegg
	depends = opencl-mesa
	depends = pacman-contrib
	depends = pandoc
	depends = pavucontrol
	depends = pcmanfm
	depends = pkgfile
	depends = playerctl
	depends = python-pip
	depends = python-setuptools
	depends = python-wheel
	depends = qalculate-gtk-git
	depends = qt5-styleplugins
	depends = qt5ct
	depends = qt6ct
	depends = qt6gtk2
	depends = ranger-git
	depends = rebuild-detector
	depends = ripgrep
	depends = rmtrash
	depends = sxiv
	depends = systemsettings
	depends = texlive-bibtexextra
	depends = time
	depends = tmux
	depends = torbrowser-launcher
	depends = ufw
	depends = unzip
	depends = which
	depends = wine-staging
	depends = xautolock
	depends = xdg-desktop-portal
	depends = xdg-desktop-portal-gtk
	depends = xdg-desktop-portal-kde
	depends = zathura
	depends = arch-hs
	depends = archlinux-artwork
	depends = authy
	depends = autokey-gtk
	depends = bind
	depends = bitwarden
	depends = bluez-utils
	depends = bottom
	depends = ungoogled-chromium-bin
	depends = deadbeef
	depends = deadbeef-mpris2-plugin
	depends = debuginfod
	depends = diskmonitor
	depends = docker
	depends = dragon-drop
	depends = duf
	depends = dust
	depends = element-desktop
	depends = engrampa
	depends = expac
	depends = ffmpeg
	depends = ffsend
	depends = file
	depends = firefox
	depends = fzf
	depends = gimp
	depends = git-delta
	depends = glow
	depends = gnome-characters
	depends = gnuplot
	depends = grub-customizer
	depends = gsmartcontrol
	depends = gst-plugins-bad
	depends = gst-plugins-base
	depends = gst-plugins-good
	depends = gst-plugins-ugly
	depends = gtk-vector-screenshot
	depends = gufw
	depends = htop
	depends = httpie
	depends = inetutils
	depends = ipython
	depends = kalendar
	depends = kgpg
	depends = korganizer
	depends = kondo-git
	depends = kondo-ui-git
	depends = libreoffice-fresh
	depends = libvterm
	depends = lostfiles
	depends = lsof
	depends = lynx
	depends = maim
	depends = mediainfo
	depends = menu-qalc
	depends = mesa-demos
	depends = moreutils
	depends = mpv-mpris
	depends = mtr
	depends = namcap
	depends = neofetch
	depends = net-tools
	depends = nix
	depends = nmap
	depends = pacgraph
	depends = perl-rename
	depends = prettyping
	depends = procs
	depends = pv
	depends = python-matplotlib
	depends = python-matplotlib-sixel-git
	depends = python-numpy
	depends = python-pandas
	depends = python-pillow
	depends = python-pynvim
	depends = python-scipy
	depends = python-seaborn
	depends = python-sympy
	depends = python-tqdm
	depends = rxvt-unicode-truecolor-wide-glyphs
	depends = sane-airscan
	depends = sd
	depends = signal-desktop
	depends = simple-scan
	depends = smartmontools
	depends = speedtest-cli
	depends = sshfs
	depends = system-config-printer
	depends = termdown
	depends = testdisk
	depends = tldr
	depends = tor
	depends = tree
	depends = ueberzug
	depends = ugrep
	depends = unrar
	depends = usbutils
	depends = v4l2loopback-dkms
	depends = v4l2loopback-utils
	depends = vi
	depends = vim
	depends = vkd3d
	depends = vlc
	depends = vulkan-tools
	depends = wget
	depends = wine-mono
	depends = winetricks
	depends = xdg-ninja-git
	depends = xdotool
	depends = xournalpp-git
	depends = xsane
	depends = yt-dlp
	depends = gnu-free-fonts
	depends = inter-font
	depends = noto-fonts
	depends = noto-fonts-cjk
	depends = noto-fonts-emoji
	depends = noto-fonts-extra
	depends = otf-cm-unicode
	depends = otf-latin-modern
	depends = otf-latinmodern-math
	depends = otf-opendyslexic-git
	depends = otf-overpass
	depends = otf-xkcd-font
	depends = terminus-font
	depends = tex-gyre-fonts
	depends = texlive-fontsextra
	depends = ttc-iosevka-mithic
	depends = ttf-dejavu
	depends = ttf-fira-code
	depends = ttf-inconsolata
	depends = ttf-iosevka-nerd
	depends = ttf-jetbrains-mono
	depends = ttf-liberation
	depends = ttf-twemoji
	depends = ttf-ubuntu-font-family
	depends = xorg-fonts-misc
	depends = bootconfig
	depends = bpf
	depends = cgroup_event_listener
	depends = cpupower
	depends = hyperv
	depends = perf
	depends = tmon
	depends = turbostat
	depends = usbip
	depends = x86_energy_perf_policy
	depends = texlive-langchinese
	depends = texlive-langcyrillic
	depends = texlive-langextra
	depends = texlive-langgreek
	depends = texlive-langjapanese
	depends = texlive-langkorean
	depends = texlive-bibtexextra
	depends = texlive-core
	depends = texlive-fontsextra
	depends = texlive-formatsextra
	depends = texlive-games
	depends = texlive-humanities
	depends = texlive-latexextra
	depends = texlive-music
	depends = texlive-pictures
	depends = texlive-pstricks
	depends = texlive-publishers
	depends = texlive-science
	depends = xf86-video-vesa
	depends = xorg-bdftopcf
	depends = xorg-docs
	depends = xorg-font-util
	depends = xorg-fonts-100dpi
	depends = xorg-fonts-75dpi
	depends = xorg-fonts-encodings
	depends = xorg-iceauth
	depends = xorg-mkfontscale
	depends = xorg-server
	depends = xorg-server-common
	depends = xorg-server-devel
	depends = xorg-server-xephyr
	depends = xorg-server-xnest
	depends = xorg-server-xvfb
	depends = xorg-sessreg
	depends = xorg-setxkbmap
	depends = xorg-smproxy
	depends = xorg-x11perf
	depends = xorg-xauth
	depends = xorg-xcmsdb
	depends = xorg-xcursorgen
	depends = xorg-xdpyinfo
	depends = xorg-xdriinfo
	depends = xorg-xev
	depends = xorg-xgamma
	depends = xorg-xhost
	depends = xorg-xinput
	depends = xorg-xkbcomp
	depends = xorg-xkbevd
	depends = xorg-xkbprint
	depends = xorg-xkbutils
	depends = xorg-xkill
	depends = xorg-xlsatoms
	depends = xorg-xlsclients
	depends = xorg-xmodmap
	depends = xorg-xpr
	depends = xorg-xprop
	depends = xorg-xrandr
	depends = xorg-xrdb
	depends = xorg-xrefresh
	depends = xorg-xset
	depends = xorg-xsetroot
	depends = xorg-xvinfo
	depends = xorg-xwayland
	depends = xorg-xwd
	depends = xorg-xwininfo
	depends = xorg-xwud
	depends = xorg-bdftopcf
	depends = xorg-iceauth
	depends = xorg-mkfontscale
	depends = xorg-sessreg
	depends = xorg-setxkbmap
	depends = xorg-smproxy
	depends = xorg-x11perf
	depends = xorg-xauth
	depends = xorg-xbacklight
	depends = xorg-xcmsdb
	depends = xorg-xcursorgen
	depends = xorg-xdpyinfo
	depends = xorg-xdriinfo
	depends = xorg-xev
	depends = xorg-xgamma
	depends = xorg-xhost
	depends = xorg-xinput
	depends = xorg-xkbcomp
	depends = xorg-xkbevd
	depends = xorg-xkbprint
	depends = xorg-xkbutils
	depends = xorg-xkill
	depends = xorg-xlsatoms
	depends = xorg-xlsclients
	depends = xorg-xmodmap
	depends = xorg-xpr
	depends = xorg-xprop
	depends = xorg-xrandr
	depends = xorg-xrdb
	depends = xorg-xrefresh
	depends = xorg-xset
	depends = xorg-xsetroot
	depends = xorg-xvinfo
	depends = xorg-xwd
	depends = xorg-xwininfo
	depends = xorg-xwud
	depends = xf86-input-evdev
	depends = xf86-input-libinput
	depends = xf86-input-synaptics
	depends = xf86-input-vmmouse
	depends = xf86-input-void
	depends = xf86-video-amdgpu
	depends = xf86-video-ati
	depends = xf86-video-dummy
	depends = xf86-video-fbdev
	depends = xf86-video-intel
	depends = xf86-video-nouveau
	depends = xf86-video-openchrome
	depends = xf86-video-qxl
	depends = xf86-video-vesa
	depends = xf86-video-vmware
	depends = xf86-video-voodoo
	depends = xorg-font-util
	depends = xorg-fonts-encodings
	depends = alsa-oss
	depends = asp
	depends = atool
	depends = coin-or-mp
	depends = elementary-icon-theme
	depends = entr
	depends = ffmpeg4.4
	depends = flac
	depends = gst-plugin-pipewire
	depends = gtk3
	depends = hunspell-en_us
	depends = hwinfo
	depends = ipp-usb
	depends = java-environment
	depends = java-runtime
	depends = kimageformats
	depends = libcaca
	depends = libmad
	depends = libmythes
	depends = libogg
	depends = libopenraw
	depends = libpaper
	depends = libpulse
	depends = lm_sensors
	depends = mpdecimal
	depends = mpg123
	depends = ncurses
	depends = opencv
	depends = opusfile
	depends = os-prober
	depends = perl-image-exiftool
	depends = poppler
	depends = prettier
	depends = pstoedit
	depends = psutils
	depends = python-bidi
	depends = python-chardet
	depends = python-dbus-next
	depends = python-psutil
	depends = python-setproctitle
	depends = python-ueberzug
	depends = python-xdg
	depends = tk
	depends = transmission-cli
	depends = webp-pixbuf-loader
	depends = words
	depends = zaread-git
	depends = zathura-pdf-mupdf
	depends = zathura-ps
	optdepends = amd-ucode: If using AMD CPU
	optdepends = amdfand: If using AMD discrete GPU
	optdepends = amdgui-helper: If using AMD discrete GPU
	optdepends = amdguid-glium: If using AMD discrete GPU
	optdepends = amdguid-glow: If using AMD discrete GPU
	optdepends = amdguid-wayland: If using AMD discrete GPU
	optdepends = amdmond: If using AMD discrete GPU
	optdepends = amdvold: If using AMD discrete GPU
	optdepends = intel-ucode: If using Intel CPU
	optdepends = libratbag-git: If using gaming mouse
	optdepends = piper-git: If using gaming mouse
	optdepends = radeontop: If using AMD GPU
	optdepends = solaar: If using Logitech peripherals
	optdepends = vulkan-radeon: If using AMD GPU
	optdepends = xf86-input-wacom: If using Wacom tablet
	optdepends = aspell-en: Doom Emacs
	optdepends = aspell: Doom Emacs
	optdepends = bash-language-server: Doom Emacs/Bash
	optdepends = biber: LaTeX
	optdepends = cargo-cache: Rust
	optdepends = cargo-shuttle: Rust
	optdepends = ccls: Doom Emacs/C*
	optdepends = cmake: Doom Emacs
	optdepends = coq: Coq
	optdepends = cppcheck: Doom Emacs/C*
	optdepends = editorconfig-core-c: Doom Emacs
	optdepends = elan-lean: Lean
	optdepends = flake8: Python
	optdepends = gdb: C*
	optdepends = ghcup-hs-bin: Haskell
	optdepends = gnu-apl: APL
	optdepends = gprolog: Prolog
	optdepends = gradle: Java
	optdepends = helix: Helix
	optdepends = helixbinhx: Helix
	optdepends = hyphen-en: Doom Emacs
	optdepends = idris2-git: Idris
	optdepends = idris2-lsp-git: Doom Emacs/Idris
	optdepends = indent: C*
	optdepends = j9-git: J
	optdepends = jd-gui: Java
	optdepends = jdk-openjdk: Java
	optdepends = jupyter-notebook: Python
	optdepends = kotlin: Kotlin
	optdepends = languagetool: Doom Emacs
	optdepends = lazygit: Astronvim
	optdepends = lilypond: Lilypond
	optdepends = lld: C*
	optdepends = lldb: C*
	optdepends = llvm: C*
	optdepends = manim: Manim
	optdepends = maven: Java
	optdepends = mercurial: Mercurial
	optdepends = mingw-w64-binutils: Cross-compiling to Windows
	optdepends = mingw-w64-crt: Cross-compiling to Windows
	optdepends = mingw-w64-gcc: Cross-compiling to Windows
	optdepends = mingw-w64-headers: Cross-compiling to Windows
	optdepends = mingw-w64-winpthreads: Cross-compiling to Windows
	optdepends = mypy: Python
	optdepends = ncdu: Astronvim
	optdepends = neovide: Astronvim
	optdepends = octave: Octave/Matlab
	optdepends = pijul: Pijul
	optdepends = pypy3: Python
	optdepends = python-black: Python
	optdepends = python-grip: Doom Emacs/Markdown
	optdepends = python-isort: Doom Emacs/Python
	optdepends = python-ixia: Python
	optdepends = python-lsp-ruff: Doom Emacs/Python
	optdepends = python-lsp-server: Doom Emacs/Python
	optdepends = python-nose: Doom Emacs/Python
	optdepends = python-paperbush: Python
	optdepends = python-pbar: Python
	optdepends = python-pincer-git: Doom Emacs/Python
	optdepends = python-pipe: Python
	optdepends = python-poetry: Python
	optdepends = python-pylsp-mypy: Doom Emacs/Python
	optdepends = python-pytest: Doom Emacs/Python
	optdepends = python-requests: Python
	optdepends = python-z3-solver: Python
	optdepends = qtspim: MIPS32 emulation
	optdepends = ruff: Python
	optdepends = rustup: Rust
	optdepends = samarium: Samarium
	optdepends = scc: SLOC
	optdepends = shellcheck: Doom Emacs/Bash
	optdepends = shfmt: Shell scripting
	optdepends = spim-svn: MIPS32 emulation
	optdepends = strace: C*
	optdepends = stylelint-config-recommended: Doom Emacs/CSS
	optdepends = stylelint: Doom Emacs/CSS
	optdepends = tectonic: LaTeX
	optdepends = texlab: Doom Emacs/LaTeX
	optdepends = tidy: Doom Emacs/HTML
	optdepends = typescript-language-server: Doom Emacs/Typescript
	optdepends = typescript: Typescript
	optdepends = valgrind: C*
	optdepends = vis-git: Vis
	optdepends = vscode-json-languageserver: Doom Emacs/JSON
	optdepends = vscodium: Visual studio code
	optdepends = wordnet-cli: Doom Emacs
	optdepends = yaml-language-server: Doom Emacs/YAML
	optdepends = gamemode: Gaming
	optdepends = jdk17-openjdk: Gaming/Minecraft
	optdepends = glfw-x11: Gaming/Minecraft
	optdepends = glfw-wayland: Gaming/Minecraft
	optdepends = lib32-mangohud: Gaming
	optdepends = linux-xanmod-headers: Gaming
	optdepends = linux-xanmod: Gaming
	optdepends = linux-zen-headers: Gaming
	optdepends = linux-zen: Gaming
	optdepends = lutris: Gaming
	optdepends = mangohud: Gaming
	optdepends = mcaselector: Gaming/Minecraft
	optdepends = openal: Gaming/Minecraft
	optdepends = openrct2: Gaming/RCT2
	optdepends = path-of-building-community-git: Gaming/PoE
	optdepends = prismlauncher-qt5: Gaming/Minecraft
	optdepends = protonfixes-git: Gaming
	optdepends = protontricks: Gaming
	optdepends = protonup-git: Gaming
	optdepends = protonup-qt: Gaming
	optdepends = replay-sorcery: Gaming
	optdepends = steam-screensaver-fix: Gaming
	optdepends = steam: Gaming
	optdepends = steamtinkerlaunch: Gaming
	optdepends = tesseract: Gaming/Warframe/wfinfo-ng
	optdepends = tesseract-data-eng: Gaming/Warframe/wfinfo-ng
	optdepends = visualvm: Gaming/Minecraft
	optdepends = amfora: Gemini browser
	optdepends = appflowy-git: Notetaking
	optdepends = blender: 3D Modeling
	optdepends = brave-nightly-bin: Alternative browser
	optdepends = browsh-bin: Alternative browser in the terminal
	optdepends = calibre: Ebook management
	optdepends = discover-overlay-git: Discord overlay
	optdepends = easyeffects: Sound filters
	optdepends = ed: Alternative editor
	optdepends = evince: Alternative document viewer
	optdepends = filelight: Disk usage
	optdepends = fish: Alternative shell
	optdepends = fragments: Torrents
	optdepends = fuse-zip: Mount zip files
	optdepends = godot: Game engine
	optdepends = gping: Ping improved
	optdepends = grub2-theme-preview: Grub theme previewer
	optdepends = handbrake-cli: Video transcoding
	optdepends = handbrake: Video transcoding
	optdepends = hexchat: IRC client
	optdepends = hplip: Improved HP printer support
	optdepends = hyperfine: Command bechmarking
	optdepends = icecat-bin: Alternative browser
	optdepends = inkscape: Vector graphics editor
	optdepends = iotop: Monitor process IO
	optdepends = kdenlive: Video editor
	optdepends = krita: Image editor
	optdepends = libguestfs: Virtualization
	optdepends = libsixel: Sixel
	optdepends = logseq-desktop: org-mode outside of Emacs
	optdepends = mathics-django: Computer algebra system
	optdepends = mathics: Computer algebra system
	optdepends = musescore: Composing music
	optdepends = nutty: Local network scanner
	optdepends = nyxt-git: Alternative browser
	optdepends = okular: Alternative document viewer
	optdepends = olive: Video editor
	optdepends = onionshare: Share files through TOR
	optdepends = pdftk: CLI for PDF manipulation
	optdepends = peek: GIF screen recorder
	optdepends = pkgstats: Archlinux telemetry *spooky*
	optdepends = popsicle: Image burner
	optdepends = qemu-full: Virtualization
	optdepends = qutebrowser: Alternative browser
	optdepends = raven-reader: RSS reader
	optdepends = rng-tools: CLI RNG utilities
	optdepends = sagemath: Computer algebra system
	optdepends = salad: Miner
	optdepends = sc-im-git: TUI spreadsheet editor
	optdepends = seahorse: GUI GPG manager
	optdepends = stacer: System optimizer
	optdepends = sx: Simple alternative to startx
	optdepends = systeroid: Sysctl improved
	optdepends = szyszka: Batch file renamer
	optdepends = tcpdump: CLI packet analyzer
	optdepends = teams: School
	optdepends = tlp: Power management
	optdepends = tilp: TI graphing calculator communication
	optdepends = tmon: TUI thermal monitor
	optdepends = tungsten: CLI for WolframAlpha
	optdepends = turbostat: CPU monitor
	optdepends = vieb-bin: Alternative browser
	optdepends = virt-manager: Virtualization
	optdepends = virt-viewer: Virtualization
	optdepends = wireshark-qt: Packet analyzer
	optdepends = xmrig: Miner
	optdepends = z3: Proof assistant
	optdepends = gfm: TiLP optdepend
	optdepends = gifski: Peek optdepend
	optdepends = noise-suppression-for-voice: Kdenlive optdepend
	optdepends = nyrna: Steamtinkerlaunch optdepend
	optdepends = racket: Idris optdepend
	optdepends = c-lolcat: Fun
	optdepends = cmatrix: Fun
	optdepends = cowsay: Fun
	optdepends = fortune-mod: Fun
	optdepends = sl: Fun
