pkgbase = mithic-base
	pkgdesc = Packages for a base install for MithicSpirit
	pkgver = 2024.02.09.0
	pkgrel = 1
	arch = any

pkgname = mithic-base
	depends = accountsservice
	depends = alacritty
	depends = base
	depends = base-devel
	depends = cronie
	depends = curl
	depends = dash
	depends = dashbinsh
	depends = debian-archive-keyring
	depends = dnscrypt-proxy
	depends = dunst-git
	depends = efibootmgr
	depends = fail2ban
	depends = flatpak
	depends = fwupd
	depends = gammastep
	depends = gnupg
	depends = kwallet-pam
	depends = libva-mesa-driver
	depends = linux
	depends = linux-firmware
	depends = linux-headers
	depends = linux-lts
	depends = linux-lts-headers
	depends = logrotate
	depends = man-db
	depends = man-pages
	depends = mesa
	depends = mesa-vdpau
	depends = multilib-devel
	depends = neovim
	depends = networkmanager
	depends = ntfs-3g
	depends = openssh
	depends = pacman
	depends = paru-git
	depends = pipewire
	depends = pipewire-jack
	depends = pipewire-pulse
	depends = python
	depends = reflector
	depends = sway
	depends = texinfo
	depends = trash-cli
	depends = util-linux
	depends = wireplumber
	depends = xdg-user-dirs
	depends = xdg-utils
	depends = xorg-xwayland
	depends = zsh
	depends = acpilight
	depends = alsa-utils
	depends = arc-gtk-theme
	depends = arc-icon-theme
	depends = arch-install-scripts
	depends = autotrash
	depends = bat
	depends = bat-extras
	depends = bemenu
	depends = bemenu-wayland
	depends = breeze
	depends = breeze-gtk
	depends = btop
	depends = clang
	depends = cliphist
	depends = cups
	depends = cups-pdf
	depends = devtools
	depends = dialog
	depends = dkms
	depends = downgrade
	depends = emacs-nativecomp
	depends = exa
	depends = fasd
	depends = fd
	depends = findutils
	depends = git
	depends = gpm
	depends = grimshot-bin-sway
	depends = kdeconnect
	depends = libnotify
	depends = libqalculate
	depends = librewolf-bin
	depends = logiops
	depends = mlocate
	depends = mpv
	depends = nvim-ft-pkgbuild
	depends = onedrive-abraunegg
	depends = pacman-contrib
	depends = pandoc
	depends = pavucontrol
	depends = pcmanfm-gtk3
	depends = pkgfile
	depends = playerctl
	depends = python-pip
	depends = python-setuptools
	depends = python-wheel
	depends = qalculate-gtk
	depends = qt5-styleplugins
	depends = qt5-wayland
	depends = qt6-wayland
	depends = qt6gtk2
	depends = ranger-git
	depends = rebuild-detector
	depends = ripgrep
	depends = rmtrash
	depends = swaybg
	depends = swayidle
	depends = swayimg
	depends = swaylock-effects
	depends = time
	depends = tmux
	depends = torbrowser-launcher
	depends = unzip
	depends = which
	depends = wine-staging
	depends = xdg-desktop-portal
	depends = xsettingsd
	depends = zathura
	depends = arch-hs
	depends = archlinux-artwork
	depends = bind
	depends = bitwarden
	depends = bluez-utils
	depends = bottom
	depends = ungoogled-chromium
	depends = debuginfod
	depends = docker
	depends = dragon-drop
	depends = duf
	depends = dust
	depends = element-desktop
	depends = engrampa
	depends = expac
	depends = ffmpeg
	depends = ffsend
	depends = file
	depends = firefox
	depends = foot
	depends = fzf
	depends = gimp
	depends = git-delta
	depends = glow
	depends = gnome-characters
	depends = gnuplot
	depends = gsmartcontrol
	depends = gst-plugins-bad
	depends = gst-plugins-base
	depends = gst-plugins-good
	depends = gst-plugins-ugly
	depends = gufw
	depends = htop
	depends = httpie
	depends = inetutils
	depends = ipython
	depends = kondo-git
	depends = kondo-ui-git
	depends = libreoffice-fresh
	depends = libvterm
	depends = linux-docs
	depends = lostfiles
	depends = lsof
	depends = lynx
	depends = mediainfo
	depends = mesa-demos
	depends = moreutils
	depends = mpv-mpris
	depends = mtr
	depends = namcap
	depends = neofetch
	depends = newsboat
	depends = net-tools
	depends = nmap
	depends = pacgraph
	depends = perl-rename
	depends = prettyping
	depends = procs
	depends = pv
	depends = python-matplotlib
	depends = python-numpy
	depends = python-pandas
	depends = python-pillow
	depends = python-pipx
	depends = python-scipy
	depends = python-seaborn
	depends = python-sympy
	depends = python-tqdm
	depends = qalcmenu-git
	depends = sane-airscan
	depends = sd
	depends = signal-desktop
	depends = simple-scan
	depends = smartmontools
	depends = speedtest-cli
	depends = sshfs
	depends = system-config-printer
	depends = termdown
	depends = testdisk
	depends = thunderbird
	depends = tldr
	depends = tor
	depends = tree
	depends = ueberzug
	depends = ugrep
	depends = unrar
	depends = usbutils
	depends = v4l2loopback-dkms
	depends = v4l2loopback-utils
	depends = vi
	depends = vim
	depends = vkd3d
	depends = vlc
	depends = vulkan-tools
	depends = wev
	depends = wget
	depends = wine-mono
	depends = winetricks
	depends = xdg-ninja-git
	depends = xorg-xev
	depends = xorg-xeyes
	depends = xorg-xprop
	depends = xournalpp
	depends = xsane
	depends = yt-dlp
	depends = gnu-free-fonts
	depends = noto-fonts
	depends = noto-fonts-cjk
	depends = noto-fonts-emoji
	depends = noto-fonts-extra
	depends = otf-cm-unicode
	depends = otf-latin-modern
	depends = otf-latinmodern-math
	depends = otf-overpass
	depends = terminus-font
	depends = ttc-iosevka-mithic
	depends = ttf-dejavu
	depends = ttf-fira-code
	depends = ttf-liberation
	depends = ttf-twemoji
	depends = ttf-ubuntu-font-family
	depends = xorg-fonts-misc
	depends = bootconfig
	depends = bpf
	depends = cgroup_event_listener
	depends = cpupower
	depends = hyperv
	depends = perf
	depends = tmon
	depends = turbostat
	depends = usbip
	depends = x86_energy_perf_policy
	depends = texlive-basic
	depends = texlive-bibtexextra
	depends = texlive-binextra
	depends = texlive-context
	depends = texlive-fontsextra
	depends = texlive-fontsrecommended
	depends = texlive-fontutils
	depends = texlive-formatsextra
	depends = texlive-games
	depends = texlive-humanities
	depends = texlive-latex
	depends = texlive-latexextra
	depends = texlive-latexrecommended
	depends = texlive-luatex
	depends = texlive-mathscience
	depends = texlive-metapost
	depends = texlive-music
	depends = texlive-pictures
	depends = texlive-plaingeneric
	depends = texlive-pstricks
	depends = texlive-publishers
	depends = texlive-xetex
	depends = texlive-langarabic
	depends = texlive-langchinese
	depends = texlive-langcjk
	depends = texlive-langcyrillic
	depends = texlive-langczechslovak
	depends = texlive-langenglish
	depends = texlive-langeuropean
	depends = texlive-langfrench
	depends = texlive-langgerman
	depends = texlive-langgreek
	depends = texlive-langitalian
	depends = texlive-langjapanese
	depends = texlive-langkorean
	depends = texlive-langother
	depends = texlive-langpolish
	depends = texlive-langportuguese
	depends = texlive-langspanish
	depends = atool
	depends = elementary-icon-theme
	depends = entr
	depends = flac
	depends = gst-plugin-pipewire
	depends = hunspell-en_us
	depends = ipp-usb
	depends = java-environment
	depends = java-runtime
	depends = kimageformats5
	depends = libcaca
	depends = libogg
	depends = mpdecimal
	depends = mpg123
	depends = ncurses
	depends = perl-image-exiftool
	depends = poppler
	depends = pstoedit
	depends = psutils
	depends = tk
	depends = transmission-cli
	depends = words
	depends = zaread-git
	depends = zathura-pdf-mupdf
	depends = zathura-ps
	optdepends = amd-ucode: If using AMD CPU
	optdepends = amdfand: If using AMD discrete GPU
	optdepends = amdgui-helper: If using AMD discrete GPU
	optdepends = amdguid-glium: If using AMD discrete GPU
	optdepends = amdguid-glow: If using AMD discrete GPU
	optdepends = amdguid-wayland: If using AMD discrete GPU
	optdepends = amdmond: If using AMD discrete GPU
	optdepends = amdvold: If using AMD discrete GPU
	optdepends = intel-ucode: If using Intel CPU
	optdepends = piper: If using gaming mouse
	optdepends = radeontop: If using AMD GPU
	optdepends = solaar: If using Logitech peripherals
	optdepends = vulkan-radeon: If using AMD GPU
	optdepends = xf86-input-wacom: If using Wacom tablet
	optdepends = aspell-en: Doom Emacs
	optdepends = aspell: Doom Emacs
	optdepends = bash-language-server: Doom Emacs/Bash
	optdepends = biber: LaTeX
	optdepends = cargo-cache: Rust
	optdepends = cargo-shuttle: Rust
	optdepends = ccls: Doom Emacs/C*
	optdepends = cmake: Doom Emacs
	optdepends = coq: Coq
	optdepends = cppcheck: Doom Emacs/C*
	optdepends = editorconfig-core-c: Doom Emacs
	optdepends = elan-lean: Lean
	optdepends = flake8: Python
	optdepends = gdb: C*
	optdepends = ghcup-hs-bin: Haskell
	optdepends = github-cli: Neovim/Mason
	optdepends = gnu-apl: APL
	optdepends = gprolog: Prolog
	optdepends = gradle: Java
	optdepends = helix: Helix
	optdepends = helixbinhx: Helix
	optdepends = hyphen-en: Doom Emacs
	optdepends = idris2-git: Idris
	optdepends = idris2-lsp-git: Doom Emacs/Idris
	optdepends = indent: C*
	optdepends = j9-git: J
	optdepends = jd-gui: Java
	optdepends = jdk-openjdk: Java
	optdepends = jupyter-notebook: Python
	optdepends = kotlin: Kotlin
	optdepends = languagetool: Doom Emacs
	optdepends = lilypond: Lilypond
	optdepends = lld: Haskell/C*
	optdepends = lldb: C*
	optdepends = llvm: C*
	optdepends = manim: Manim
	optdepends = maven: Java
	optdepends = mercurial: Mercurial
	optdepends = mingw-w64-binutils: Cross-compiling to Windows
	optdepends = mingw-w64-crt: Cross-compiling to Windows
	optdepends = mingw-w64-gcc: Cross-compiling to Windows
	optdepends = mingw-w64-headers: Cross-compiling to Windows
	optdepends = mingw-w64-winpthreads: Cross-compiling to Windows
	optdepends = mypy: Python
	optdepends = octave: Octave/Matlab
	optdepends = pijul: Pijul
	optdepends = pypy3: Python
	optdepends = python-black: Python
	optdepends = python-grip: Doom Emacs/Markdown
	optdepends = python-isort: Doom Emacs/Python
	optdepends = python-ixia: Python
	optdepends = python-lsp-ruff: Doom Emacs/Python
	optdepends = python-lsp-server: Doom Emacs/Python
	optdepends = python-mathlibtools: Lean
	optdepends = python-nose: Doom Emacs/Python
	optdepends = python-paperbush: Python
	optdepends = python-pbar: Python
	optdepends = python-pincer-git: Doom Emacs/Python
	optdepends = python-pipe: Python
	optdepends = python-poetry: Python
	optdepends = python-pylsp-mypy: Doom Emacs/Python
	optdepends = python-pytest: Doom Emacs/Python
	optdepends = python-requests: Python
	optdepends = python-z3-solver: Python
	optdepends = qtspim: MIPS32 emulation
	optdepends = rlwrap: Idris
	optdepends = ruff: Python
	optdepends = rustup: Rust
	optdepends = samarium: Samarium
	optdepends = scc: SLOC
	optdepends = shellcheck: Doom Emacs/Bash
	optdepends = shfmt: Shell scripting
	optdepends = spim-svn: MIPS32 emulation
	optdepends = strace: C*
	optdepends = stylelint-config-recommended: Doom Emacs/CSS
	optdepends = stylelint: Doom Emacs/CSS
	optdepends = tectonic: LaTeX
	optdepends = texlab: Doom Emacs/LaTeX
	optdepends = tidy: Doom Emacs/HTML
	optdepends = typescript-language-server: Doom Emacs/Typescript
	optdepends = typescript: Typescript
	optdepends = valgrind: C*
	optdepends = vis-git: Vis
	optdepends = vscode-json-languageserver: Doom Emacs/JSON
	optdepends = vscodium: Visual studio code
	optdepends = wordnet-cli: Doom Emacs
	optdepends = yaml-language-server: Doom Emacs/YAML
	optdepends = zig: Zig
	optdepends = gamemode: Gaming
	optdepends = gamescope: Gaming
	optdepends = jdk17-openjdk: Gaming/Minecraft
	optdepends = lib32-mangohud: Gaming
	optdepends = linux-xanmod-headers: Gaming
	optdepends = linux-xanmod: Gaming
	optdepends = linux-zen-headers: Gaming
	optdepends = linux-zen: Gaming
	optdepends = lutris: Gaming
	optdepends = mangohud: Gaming
	optdepends = mcaselector: Gaming/Minecraft
	optdepends = openrct2: Gaming/RCT2
	optdepends = path-of-building-community-git: Gaming/PoE
	optdepends = protonfixes-git: Gaming
	optdepends = protontricks: Gaming
	optdepends = protonup-git: Gaming
	optdepends = protonup-qt: Gaming
	optdepends = replay-sorcery: Gaming
	optdepends = steam-screensaver-fix: Gaming
	optdepends = steam: Gaming
	optdepends = steamtinkerlaunch: Gaming
	optdepends = tesseract: Gaming/Warframe/wfinfo-ng
	optdepends = tesseract-data-eng: Gaming/Warframe/wfinfo-ng
	optdepends = visualvm: Gaming/Minecraft
	optdepends = amfora: Gemini browser
	optdepends = appflowy-git: Notetaking
	optdepends = blender: 3D Modeling
	optdepends = brave-nightly-bin: Alternative browser
	optdepends = browsh-bin: Alternative browser in the terminal
	optdepends = calibre: Ebook management
	optdepends = deadbeef: Music player
	optdepends = deadbeef-mpris2-plugin: Media control for deadbeef
	optdepends = discover-overlay-git: Discord overlay
	optdepends = easyeffects: Sound filters
	optdepends = ed: Alternative editor
	optdepends = evince: Alternative document viewer
	optdepends = filelight: Disk usage
	optdepends = fish: Alternative shell
	optdepends = fragments: Torrents
	optdepends = fuse-zip: Mount zip files
	optdepends = godot: Game engine
	optdepends = gping: Ping improved
	optdepends = handbrake-cli: Video transcoding
	optdepends = handbrake: Video transcoding
	optdepends = helvum: Pipewire patchbay
	optdepends = hexchat: IRC client
	optdepends = hplip: Improved HP printer support
	optdepends = hyperfine: Command bechmarking
	optdepends = inkscape: Vector graphics editor
	optdepends = iotop: Monitor process IO
	optdepends = kdenlive: Video editor
	optdepends = kitty-shade-transparency-patch: Alternative terminal
	optdepends = krita: Image editor
	optdepends = libguestfs: Virtualization
	optdepends = libsixel: Sixel
	optdepends = logseq-desktop: org-mode outside of Emacs
	optdepends = mathics-django: Computer algebra system
	optdepends = mathics: Computer algebra system
	optdepends = musescore: Composing music
	optdepends = nutty: Local network scanner
	optdepends = nyxt-git: Alternative browser
	optdepends = okular: Alternative document viewer
	optdepends = olive: Video editor
	optdepends = onionshare: Share files through TOR
	optdepends = pdfpc: PDF presentation presenter
	optdepends = pdftk: CLI for PDF manipulation
	optdepends = peek: GIF screen recorder
	optdepends = pkgstats: Archlinux telemetry *spooky*
	optdepends = popsicle: Image burner
	optdepends = qemu-full: Virtualization
	optdepends = qutebrowser: Alternative browser
	optdepends = raven-reader: RSS reader
	optdepends = rng-tools: CLI RNG utilities
	optdepends = sagemath: Computer algebra system
	optdepends = salad: Miner
	optdepends = sc-im-git: TUI spreadsheet editor
	optdepends = seahorse: GUI GPG manager
	optdepends = stacer: System optimizer
	optdepends = systeroid: Sysctl improved
	optdepends = szyszka: Batch file renamer
	optdepends = tcpdump: CLI packet analyzer
	optdepends = teams: School
	optdepends = tlp: Power management
	optdepends = tilp: TI graphing calculator communication
	optdepends = tmon: TUI thermal monitor
	optdepends = tungsten: CLI for WolframAlpha
	optdepends = turbostat: CPU monitor
	optdepends = vieb-bin: Alternative browser
	optdepends = virt-manager: Virtualization
	optdepends = virt-viewer: Virtualization
	optdepends = wireshark-qt: Packet analyzer
	optdepends = xmrig: Miner
	optdepends = z3: Proof assistant
	optdepends = gfm: TiLP optdepend
	optdepends = gifski: Peek optdepend
	optdepends = noise-suppression-for-voice: Kdenlive optdepend
	optdepends = nyrna: Steamtinkerlaunch optdepend
	optdepends = racket: Idris optdepend
	optdepends = c-lolcat: Fun
	optdepends = cmatrix: Fun
	optdepends = cowsay: Fun
	optdepends = fortune-mod: Fun
	optdepends = sl: Fun
