pkgbase = ttf-iosevka-mithic
	pkgdesc = A custom monospace sans-serif typeface inspired by Pragmata Pro, M+, PF DIN Mono.
	pkgver = 11.2.0
	pkgrel = 1
	url = https://be5invis.github.io/Iosevka/
	arch = any
	license = custom:OFL
	makedepends = nodejs>=12.22.0
	makedepends = npm
	makedepends = ttfautohint
	source = iosevka-2f5a7b4e264b042d288f66f0bd42b26fe24964d0.tar.gz::https://github.com/MithicSpirit/iosevka/archive/2f5a7b4e264b042d288f66f0bd42b26fe24964d0.tar.gz
	sha256sums = 65b48b7c21e0826c5cd967f9c4f70f52e883d062f353c45e833fcc253d4d202b

pkgname = ttf-iosevka-mithic
